{% extends "auctions/layout.html" %}

{% block body %}
        <div class="container pb-5 mt-n2 mt-md-n3">
            <div class="row">
                <div class="col-xl-9 col-md-8">
                    <div>
                        <h3 class="product-card-title font-weight-semibold">
    
                        Listing: {{ listing.title }}
                    </h3>
                    </div>
                    <img class="rounded" src="{{ listing.image_url }}" alt="{{ listing.title }}"
                    style="width: 500px; height: 500px; object-fit: contain;">
                    <div class="d-sm-flex justify-content-between my-4 pb-4 border-bottom">
         
                        <div class="media d-block d-sm-flex text-center text-sm-left">
                            
                            <div class="media-body pt-1">
                                
                                <div class="font-size-sm mb-1"><span class="text-muted mr-2">
                                Description: </span>{{ listing.description }}
                                </div>
                                <div class="font-size-sm mb-1"><span class="text-muted mr-2">
                                Author: </span>{{ listing.owner }}
                                </div>
                                {% if listing.category %}
                                    <div class="font-size-sm mb-1"><span class="text-muted mr-2">
                                Category: </span>{{ listing.category | title }}
                                    </div>
                                {% else %}
                                    <div class="font-size-sm mb-1"><span class="text-muted mr-2">
                                Category: </span> Not listed.
                                    </div>
                                {% endif %}
                                {% if listing.starting_bid %}
                                    <div class="font-size-sm text-success mb-1"><span class="text-muted mr-2">Price: </span>${{ highest_bid }}</div>
                                {% else %}
                                    <div class="font-size-sm text-danger mb-1"><span class="text-muted mr-2">Price: </span>Not specified</div>
                                {% endif %}
                                {% if listing.winner is None %}
                                    <div class="font-size-lg text-primary mb-1"><span class="text-muted mr-2">Status: </span>Available</div>
                                {% else %}
                                    <div class="font-size-lg text-danger mb-1"><span class="text-muted mr-2">Status: </span>Sold</div>
                                {% endif %}
                                <span class="text-danger">Highest bid: {{ highest_bid }} </span>    
                                <br>
                                <span class="text-muted">Created at: {{ listing.created_at }} </span>
                                
                                
                            </div>
                            {% if listing.owner == user %}
                                <div class="offset-1">
                                    <label for="bidss" class="label">Bid:</label>
                                    <form action="{% url 'place_bid' listing.id %}" class="input-group" method="post" id="bidss">
                                        {% csrf_token %}
                                        <span class="input-group-text">$</span>
                                        <input class="form-control" aria-label="Amount" disabled type="number" name="bidsss" placeholder="Your own listing bud">
                                        <button class="btn btn-primary" type="submit" id="bidbutton">Place Bid!</button>
                                    </form>
                                </div>
                            {% else %}
                            <div class="offset-1">
                                <label for="bidss" class="label">Bid:</label>
                                <form action="{% url 'place_bid' listing.id %}" class="input-group" method="post" id="bidss">
                                    {% csrf_token %}
                                    <span class="input-group-text">$</span>
                                    <input class="form-control" aria-label="Amount" type="number" name="bidsss" placeholder="Minimum: {{ highest_bid }}">
                                    <button class="btn btn-primary" type="submit" id="bidbutton">Place Bid!</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Item-->
                </div>
            </div>
        </div>
    
{% endblock %}